.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}
#materi {
  background-color: #ffffff;
}
#about {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}

html, body {
  height: 100%;
}

.content {
  min-height: calc(100% - 56px); /* Menghitung tinggi konten halaman tanpa footer */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px; /* Sesuaikan tinggi footer sesuai kebutuhan */
}

h1 {
  font-family: 'Racing Sans One', cursive;
}



